{% extends "negocio/index.html" %}



{% block titulo %}
<span class="heading">Proveedores</span>
<h2>Las principales bibliotecas de la ciudad nos ofrecen su catalogo</h2>
<p>Vos elegís por cuánto tiempo lo queres tener. Cuando lo terminas, lo pasamos a buscar</p>
<p><a href="#" class="btn btn-primary py-3 px-4">Primer mes reembolsable</a></p>
{% endblock titulo %}



{% block contenido %}
<table class="table table-striped"> 
    <thead>
        <tr>
            <th>Id</td>
            <th>Titulo</td>
            <th>Autor</th>
            <th>Año</th>
            <th>Genero</th>
        </tr>
    </thead>
    <tbody>
    {% for l in libros %}
        <tr>
            <td>{{ p.id }}</td>
            <td>{{ p.titulo }}</td>
            <td>{{ p.autor }}</td>
            <td>{{ p.año }}</td>
            <td>{{ p.genero }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock contenido %}