{% extends "negocio/index.html" %}



{% block titulo %}
<span>
<h1>Vas a encontrar el catalogo mas extenso</h1>
<p>Lo mejor es que lo actualizamos constantemente</p>
</span>
{% endblock titulo %}



{% block contenido %}
<table class="table table-striped"> 
    <thead>
        <tr>
            <th>Id</td>
            <th>Titulo</td>
            <th>Autor</th>
            <th>Anio</th>
            <th>Genero</th>
        </tr>
    </thead>
    <tbody>
    {% for l in libros %}
        <tr>
            <td>{{ l.id }}</td>
            <td>{{ l.titulo }}</td>
            <td>{{ l.autor }}</td>
            <td>{{ l.anio }}</td>
            <td>{{ l.genero }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock contenido %}