{% extends "negocio/index.html" %}



{% block titulo %}
<span></span>
<h2>Crea tu cuenta y elegí tu proxima aventura</h2>
<p><a href="#" class="btn btn-primary py-3 px-4">Solo $3.999,99 por mes</a></p>
<p>Si pensas que este servicio no es para vos, te devolvemos el valor del primer mes</p>
{% endblock titulo %}



{% block contenido %}
<table class="table table-striped"> 
    <thead>
        <tr>
            <th>Id</td>
            <th>Nombre</td>
            <th>direccion</th>
            <th>email</th>
            <th>telefono</th>
        </tr>
    </thead>
    <tbody>
    {% for u in usuarios %}
        <tr>
            <td>{{ u.id }}</td>
            <td>{{ u.nombre }}</td>
            <td>{{ u.direccion }}</td>
            <td>{{ u.email }}</td>
            <td>{{ u.telefono }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock contenido %}